@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animate-top{
    animation: monte 0.5s linear forwards;
    position: absolute;
}
@keyframes monte {
    0%{
        top: 0;
    }
    100%{
        top: 1px;
    }
}